<div id="profilecontainer">
    <div id="card">
        <div id="img">
        </div>
        <div id="divider"></div>
        <div id="text">
            <h1>Vilma Sanchez Volpini</h1>
            <p>Quinti, el proyecto que nació por una necesidad y se convirtió en el elegido de nuestros clientes y amigos.</p>
            <p>Pastelería de hogar, sabor casero, productos frescos y variedad a tu disposición.</p>
            <q>Y así como un poeta juega con las palabras, ella jugaba a su antojo con los igredientes y con las cantidades obteniendo resultados fenomenales</q>
            <p style="text-align: end; font-weight: bold;">-Como agua para chocolate</p>
        </div>
    </div>
</div>
