$primary: rgb(224, 183, 183);
$primary-dark: rgb(220, 127, 155);
$primary-darkest-transparent: #802a42c6;
$primary-darkest-transparentplus: #802a4288;
$primary-darker: #aa2c50;
$primary-darkest: #802a42;
$secundary: rgb(148, 191, 167);
$primary-saturated: rgb(220, 127, 155);
$dark: rgb(47, 47, 47);

$fontsize-p-ss: 0.25vw; 
$fontsize-p-s: 0.5vw; 
$fontsize-p-sx: 0.75vw; 
$fontsize-p-ms: 1vw; 
$fontsize-p-m: 1.5vw; 
$fontsize-p-mx: 2vw; 
$fontsize-p-xss: 2.25vw; 
$fontsize-p-xs: 2.5vw; 
$fontsize-p-x: 3vw; 
$fontsize-p-xl: 3.5vw; 
$fontsize-p-xxl: 4vw; 

$fontsize-c-ss: 0.25vh; 
$fontsize-c-s: 0.5vh; 
$fontsize-c-sx: 0.75vh; 
$fontsize-c-ms: 1vh; 
$fontsize-c-m: 1.5vh; 
$fontsize-c-mx: 2vh; 
$fontsize-c-xss: 2.25vh; 
$fontsize-c-xs: 2.5vh; 
$fontsize-c-x: 3vh; 
$fontsize-c-xl: 3.5vh; 
$fontsize-c-xxl: 4vh; 


$font-default:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


